/* FunMandarin custom css */

html,
body {
	height: 100%;
}

.footer {
	padding: 15px 0;
	color: #fff;
	background: #1d2429;
	border-top: 1px solid #37424d;
}

/* sticky footer with fixed nav */
#wrap {
	min-height: 100%;
	height: auto !important;
	/* Negative indent footer by it's height */
	margin: 0 auto -50px;
	/* Pad bottom by footer height */
	padding: 0 0 75px;
}

/* hack so containers won't have huge ass padding on top */
#wrap > .container-top {
	padding: 50px 15px 0;
}
#wrap > .jumbotron {
	padding-top: 100px;
	padding-bottom: 40px;
}
#footer {
	height: 50px;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* stylizin */
.jumbotron {
  text-shadow: black 0 1px 1px;
  color: white;
  height: 350px;
}

.container-top > h1 {
	padding-top: 100px;
}

/* jumbotron backgrounds */
.jumbotron-about {
	background: url(../img/jumbotron-bg.jpg);
	background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------------- CAROUSEL STUFF ----------- */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: 80px;
  text-align: left;
}
.carousel-caption > h1 {
	font-size: 64px;
}
.carousel-caption > p {
	font-size: 22px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Lastly, apply responsive CSS fixes as necessary??
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 15px;
  padding-right: 15px;
}
}
*/